{% extends "myapp/base.html" %}

{% block title %}Create Job Posting{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6">
        <div class="form-container">
            <h1 class="text-center">Create Job Posting</h1>
            <form id="job-posting-form" method="post" enctype="multipart/form-data" action="{% url 'create_job_post' %}">
                {% csrf_token %}
                <div class="form-group">
                    <label for="id_title">Title:</label>
                    <input type="text" class="form-control" id="id_title" name="title" required>
                </div>
                <div class="form-group">
                    <label for="id_description">Description:</label>
                    <textarea class="form-control" id="id_description" name="description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="id_requirements">Requirements:</label>
                    <textarea class="form-control" id="id_requirements" name="requirements" required></textarea>
                </div>
                <div class="form-group">
                    <label for="id_qualifications">Qualifications:</label>
                    <textarea class="form-control" id="id_qualifications" name="qualifications" required></textarea>
                </div>
                <div class="form-group">
                    <label for="id_close_date">Close Date:</label>
                    <input type="date" class="form-control" id="id_close_date" name="close_date" required>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
